<div id="left-side-bar">
  <div>
    <h1>How it works?<h1>
    <p><span class="emojies">➡️</span> <span class="side-bar-p">Enter your url in the input field.</span></p>
    <p><span class="emojies">➡️</span> <span class="side-bar-p">Click on the create button.<span></p>
    <p><span class="emojies">➡️</span> <span class="side-bar-p">Click on the see more button to see the original url</span></p>
    <p><span class="emojies">➡️</span> <span class="side-bar-p">Click on the redirect button to get redirected to the original site.</span></p>
    <p><span class="emojies">➡️</span> <span class="side-bar-p">Click on the analytics link to see the analytics of a link</span></p>

  </div>
</div>