<h1>This is url shortener home page</h1>
<% UrlShortener.all.each do |url| %>
  <%= url.original %> <br>
<% end %>
<%= form_with model: @url do |form| %>
  <%= form.text_field :original %>
  <%= form.submit %>
<% end %>